@font-face {
    font-family: "'Montserrat'";
    src: url(../fonts/Montserrat-Regular.ttf) format(truetype);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "'Montserrat'";
    src: url(../fonts/Montserrat-Regular.ttf) format(truetype);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "'Montserrat'";
    src: url(../fonts/Montserrat-SemiBold.ttf) format(truetype);
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "'Montserrat'";
    src: url(../fonts/Montserrat-Bold.ttf) format(truetype);
    font-weight: 700;
    font-display: swap;
}
body {
    font-family: 'Montserrat',  sans-serif;
    background-color:#EFF0F1;
}
h1 {
    font-size: 109px;
    color: #F9FAFA;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 15px;
    text-align: center;
}
h2 {
    font-size: 22px;
    color: #F9FAFA;
    font-weight: 700;
    margin: 10px 0px;
    text-align: left;
    margin-bottom: 15px;
}
h3 {
    font-size: 20px;
    color: #F9FAFA;
    margin: 10px 0;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
}
p {
    font-size: 16px;
    color: #F9FAFA;
    line-height: 1.5;
    margin-bottom: 15px;
    font-weight: 500;
}
/* header */

.header { 
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    background-color: #37003C;
    box-shadow: 0 0 1px rgba(0,0,0,.32), 0 4px 8px rgba(0,0,0,.24);
}
.header__nav-sidebar {
    margin-right: 10px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 8px 0 5px -5px rgba(0,0,0,.32), 8px 0 10px -5px rgba(0,0,0,.24);
}
.header__left { 
    display: flex;
    justify-content: flex-start;
    gap:20px;
    align-items:center;
    width: 40%;
    padding: 10px 26px;
}
.header__logo-header { }
.logo { }
.header__logo-nav {
    border-radius: 30px;
    background-color:#510F57;
    height: 32px;
    width: 170px;
}
.header__logo-nav ul {
    display: flex;
    align-items:center;
    justify-content: center;
    gap:10px;
}
.header__logo-nav ul li {
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 12px;
    color:#ECECEC;
    font-weight: 600;
    height: 32px;
    cursor: pointer;
}

.header__buttons {
    margin-left: auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap:10px;
    padding: 10px 16px;
 }
 .btn-miss {
    align-items: center;
    background: #5D7CE8;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 16px #433ca7,inset 0 1px 0 hsla(0,0%,100%,.4);
    cursor: pointer;
    display: flex;
    gap: 4px;
    height: 28px;
    padding: 2px 8px
}
.btn-miss a {
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.6;
}
.btn-log {
    background-color: inherit;
    border-radius: 20px;
    border: 2px solid white;
    height: 34px;
    padding: 5px 10px;
}
.btn-log a {
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.6;
}
.btn-sign {
    background-color: #0BD9E9;
    border-radius: 20px;
    border:none;
    height: 34px;
    padding: 5px 10px;
}
.btn-sign a {
    color: black;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.6;
}
@media screen and (max-width: 768px){
    .btn-miss  {
        display: none;
    }
    .header__logo-nav {
        display: none;
    }
}
@media screen and (max-width: 423px){
    .btn-log {
        padding: 3px 3px;
        border-radius: 10px;
    }
    .btn-log a {
        font-size: 10px;
        font-weight: 500;
        line-height: 1;
    }
    .btn-sign {
        padding: 3px 3px;
        border-radius: 10px;
    }
    .btn-sign a {
        font-size: 10px;
        font-weight: 500;
        line-height: 1;
    }
}

/* nav */
aside {
    width: 64px;
    height: auto;
    position: absolute;
    top:64px;
    left:0;
    z-index: 100;
    background-color: white;
    box-shadow: 8px 0 5px -5px rgba(0,0,0,.32), 8px 0 10px -5px rgba(0,0,0,.24);
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease; 
 }
 @media (max-width: 1280px) {
   .menu {
    display: none;
   }
   aside {
    width: 0px;
  }
}
.menu__img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 10px;
    cursor: pointer;
 }
.menu__img:hover {
    background-color:#EFF0F1;
    border-radius: 10px;
}
.burgermenu.open {
    left: 0; 
}
.wrapper { 
    display: block;
    position: static;
    z-index: 902;
}
.burgermenu {
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%; 
    transition:  0.2s; 
    position: fixed;
    top: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 903;
    background-color: rgba(213, 205, 205, 0.5); 
    backdrop-filter: blur(10px);
    
 }

 .burger-list {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    gap:10px;
    padding: 10px;
    width: 320px;
    height: 100%;
    background-color:white;
    box-shadow: 8px 0 5px -5px rgba(0,0,0,.32), 8px 0 10px -5px rgba(0,0,0,.24);
    z-index: 900;
 }
 .smart-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:5px;
 }
 .smart-item {
    width: 100%;
    max-width: 146px;
    height: 48px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    border:none;
    border-radius:8px;
    padding: 4px;
    cursor: pointer;
    background-color:#ECECEC;
    gap: 8px;
    font-weight: 600;
    font-size: 10px;
    color:black;
 }
 .smart-item-img {
    width: 40px;
 }
.title-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:5px;
}
.title-box__item {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap:8px;
    background-color:#ECECEC;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.title-box__item p {
    font-size: 14px;
    font-weight: 500;
}
.burger-list__button {
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #069815;
    border: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600px;
    color:white;
    gap: 9px;
    border-radius: 20px;
    padding: 11px 17px;
    margin-top: 20px;
}
/* banner */
main {
    padding-right: 2%;
}
.banner {
    margin: 20px 10px 10px 80px;
    padding: 130px 30px; 
    background-image: url('../img/header-bg.webp');
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    width: calc(100% - 60px); 
    height: 650px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    position: relative;
}
.banner__box {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
.banner__box-title {
    font-size: 30px;
    color: #0BD9E9;
    font-weight: 700;
 }
.banner__box-h1 { }
.banner__box-content { 
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 1.4;
    color: white;
    font-weight: 700;
    text-align: center;
}
.banner__box-btn { 
    display: flex;
    justify-content: center;
    align-items:center;
}
.banner-btn {
    padding: 10px 60px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: 18px;
    line-height: 24px;
    background-color:#0BD9E9;
    border:none;
    border-radius: 40px;
    color: black;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s ease;
}
.banner-btn:hover {
    transform: scale(1.2);
}
.banner-btn span {
    font-weight: 500;
    font-size: 10px;
}
@media (max-width: 1280px) {
    .banner {
        margin: 10px;
        padding: 0 30px; 
        background-size:100%;
        background-position: center;
        width: 100%;
        height: 500px;
        background-position: top;
        align-items:center;
        padding: 20px;
    }
    .banner__box {
        padding: 0;
    }
    .banner__box-title {
        font-size: 14px;
        color: #0BD9E9;
        font-weight: 700;
        text-align: center;
    }
    .banner__box-h1 {
        font-size: 50px;
    }
    .banner__box-content { 
        margin-bottom: 12px;
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .banner {
        background-image: url('../img/header-bg-mb.webp');
        background-position: top;
        height: 650px;
        margin-top:40px;
        align-items:flex-end;
        padding: 20px;
    }
    .banner__box {
        padding: 0;
    }
    .banner__box-title {
        font-size: 14px;
        color: #0BD9E9;
        font-weight: 700;
        text-align: center;
     }
    .banner__box-h1 {
        font-size: 50px;
     }
    .banner__box-content { 
        margin-bottom: 12px;
        font-size: 18px;
    }
}
@media (max-width: 468px) {
    .banner {
        background-image: url('../img/header-bg-mb.webp');
        height: 400px;
        margin:5px;
        align-items:flex-end;
        padding: 20px;
    }
    .banner__box {
        padding: 0;
    }
    .banner__box-title {
        font-size: 14px;
        color: #0BD9E9;
        font-weight: 700;
        text-align: center;
     }
    .banner__box-h1 {
        font-size: 50px;
     }
    .banner__box-content { 
        margin-bottom: 12px;
        font-size: 18px;
    }
}

